

body{
font-family: Calibri;
background-color: white;
text-align: center;
}

intro{
width: 70%;
font-family: Calibri;
font-size: 20px;
}

description{
padding: 10px;
font-size: 20
margin-upper: 10px;
}
