

body{
font-family: Calibri;
background-color: white;
text-align: center;
}

title{
margin-upper: 20px;
font-family: Calibri
}

intro{
width: 70%;
font-family: Calibri;
font-size: 40;
}

description{
margin-upper: 10px;
padding: 10px;
font-size: 40;
}
