

body{
        background-color: hsl(218, 28%, 13%);
        font-family: Calibri;
        background-color: white;
        text-align: center;
}

intro{
        max-width: 400px;
        font-family: Calibri;
        text-align: center;
}

text{
        font-family: Calibri;
        text-align: center;
}
